import { plainToClass } from 'class-transformer';

import { <%= className %> } from './<%= fileName %>.model';

describe('<%= className %>', () => {
  let <%= camelize(className) %>: <%= className %>;

  beforeEach(function() {
    <%= camelize(className) %> = plainToClass(<%= className %>, {
    });
  });

  it('deserializes an instance of <%= className %>', function() {
    expect(<%= camelize(className) %> instanceof <%= className %>).toBeTrue();
  });
});
