import { plainToClass } from 'class-transformer';

import { <%= className %> } from './<%= fileName %>.model';

describe('<%= className %>', () => {
  beforeEach(function() {
    this.<%= camelize(className) %> = plainToClass(<%= className %>, {
    });
  });

  it('deserializes an instance of <%= className %>', function() {
    expect(this.<%= camelize(className) %> instanceof <%= className %>).toBeTrue();
  });
});
