import { UpgradeComponent } from '@angular/upgrade/static';
import { Directive, ElementRef, Injector, Inject } from '@angular/core';

@Directive({
  selector: '<%= selector %>'
})
export class <%= className %> extends UpgradeComponent {
  constructor(@Inject(ElementRef) elementRef: ElementRef, @Inject(Injector) injector: Injector) {
    super('<%= camelize(name) %>', elementRef, injector);
  }
}
