import { <%= className %> } from './<%= fileName %>.component';

describe('<%= className %>', () => {
  let component: <%= className %>;

  beforeEach(function() {
    component = new <%= className %>();
  });

  it('should create an instance of <%= className %>', function() {
    expect(component).toBeTruthy();
  });
});
