import { <%= className %> } from './<%= fileName %>.component';

describe('<%= className %>', () => {
  beforeEach(() => {
    this.component = new <%= className %>();
  });

  it('should create an instance of <%= className %>', () => {
    expect(this.component).toBeTruthy();
  });
});
