import { TestBed } from '@angular/core/testing';

import { <%= className %> } from './<%= fileName %>.service';

describe('<%= className %>', () => {
  let service: <%= className %>;

  beforeEach(function() {
    TestBed.configureTestingModule({});
    service = TestBed.inject(<%= className %>);
  });

  it('should be created', function() {
    expect(service instanceof <%= className %>).toBeTrue();
  });
});
