import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';

import { ApiService } from '<%= apiServicePath %>';
import { <%= modelType %> } from './<%= fileName %>.model';

@Injectable({
  providedIn: 'root'
})
export class <%= serviceClassName %> extends ApiService<<%= modelType %>> {
  constructor(http: HttpClient) {
    super(http, {
      memberPath: BB3Routes.<%= camelize(modelType) %>Path,
      memberWrapper: '<%= camelize(modelType) %>'
    });
  }
}
