import { <%= className %> } from './<%= fileName %>.directive';

describe('<%= className %>', () => {
  let directive: <%= className %>;

  beforeEach(() => {
    directive = new <%= className %>();
  });

  it('should create an instance', () => {
    expect(directive).toBeTruthy();
  });
});
